.jumbotron{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
.complete{
    text-decoration: line-through;
}
.incomplete{
    text-decoration: none;
}